body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    color: var(--color-dark);
    background-color: var(--color-light);
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

button,
input,
* {
    transition-duration: var(--transition-duration);
}
